<h1>New Order</h1>

<%= render "form.html",
    changeset: @changeset, 
    action: order_path(@conn, :create), 
    label: "Create Order" %>
<%= link "Cancel", to: order_path(@conn, :index), class: "button button-gray" %>